.button {
	background-color: blue;
	color: white;
	width: 200px;
	text-align: center;
	font-family: courier;
	font-size: 400%;
}

.button:hover {
	background-color: dodgerBlue;
}

#ball {
	background-color: lime;
	width: auto;
}

#name {
	background-color: yellow;
}

#name:hover {
	background-color: gold;
}

#force-wicket {
	background-color: crimson;
}

#force-wicket:hover {
	background-color: salmon;
}
